<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resend verification email</title>
</head>
<body>
    <div>Resend verification email page</div>
    <div><a href="http://mydomain.dev">Main</a></div>
    <div>Email address <b><%= email %></b></div>
    <div><a href="/verify/resend"><b>Resend verification email</b></a></div>
</body>
</html>